/* --- General layout adjustments --- */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 900;
}

body {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 900;
  overflow: hidden;
}

body.startpg {
  background: url('assets/homebg.png') no-repeat center center fixed;
  background-size: cover;
}

.chat-bubble {
    word-break: break-word;
}

#chat-box {
    scroll-behavior: smooth;
}